<a href="https://colab.research.google.com/github/bbaloun/DynamicDataGen/blob/main/TR_PoC_DynamicDataGenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install Libraries using pip
This must be done when using Colab Notebooks, since the instance of Python is not a permanent one.  Once all of the pip installs are done, the `os._exit(00)` line should be executed to reset the kernel for you.  You will receive an error message, but this is expected.

In [ ]:
!pip install --upgrade snowflake-connector-python

Requirement already satisfied: snowflake-connector-python in /usr/local/lib/python3.7/dist-packages (2.7.4)
Requirement already satisfied: cryptography<37.0.0,>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (36.0.1)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (3.14.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2021.10.8)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (1.15.0)
Requirement already satisfied: pyOpenSSL<22.0.0,>=16.2.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (21.0.0)
Requirement already satisfied: setuptools>34.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (57.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2018.9)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.23.0)
Requirement already satisfied: oscrypto<2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (1.2.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.10)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (2.3.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python) (1.4.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL<22.0.0,>=16.2.0->snowflake-connector-python) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python) (1.24.3)

In [ ]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install --upgrade snowflake-sqlalchemy

Requirement already satisfied: snowflake-sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.3.3)
Requirement already satisfied: snowflake-connector-python<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-sqlalchemy) (2.7.4)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-sqlalchemy) (1.4.31)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.4.0)
Requirement already satisfied: cryptography<37.0.0,>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (36.0.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.15.0)
Requirement already satisfied: oscrypto<2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.2.1)
Requirement already satisfied: pyOpenSSL<22.0.0,>=16.2.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (21.0.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2018.9)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.3.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.0.11)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.10)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (3.14.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2021.10.8)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.23.0)
Requirement already satisfied: setuptools>34.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (57.4.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL<22.0.0,>=16.2.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python<3.0.0->snowflake-sqlalchemy) (1.24.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy) (4.10.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy) (3.10.0.2)

In [ ]:
import os
os._exit(00)

## Import Libraries

In [ ]:
import os
import base64
import pandas as pd
from snowflake.sqlalchemy import URL
import sqlalchemy as sa
from sys import exit
from sqlalchemy import text
import math

/usr/local/lib/python3.7/dist-packages/snowflake/connector/options.py:97: UserWarning: You have an incompatible version of 'pyarrow' installed (3.0.0), please install a version that adheres to: 'pyarrow<6.1.0,>=6.0.0; extra == "pandas"'
  _expected_pyarrow_version,

## Set your Snowflake Environments#Note: The snowPassword entered into the page should be the base64 encrypted password, not the plain text password.

In [ ]:
snowUser = ''
snowRole = ''
snowAccount = ''
snowPassword = ''
snowDatabase = ''
snowSchema = ''
snowWarehouse = ''


overwrite_bit = True

## Compile Functions

In [ ]:
def getEngine(snowUser=None, snowPassword=None, snowAccount=None, snowDatabase=None, snowSchema=None, snowWarehouse=None, snowRole=None):
    try:
        base64_bytes = snowPassword.encode('ascii')
        message_bytes = base64.b64decode(base64_bytes)
        password = message_bytes.decode('ascii')

        SnowEngine = sa.create_engine(URL(
            user=snowUser,
            password=password,
            account=snowAccount,
            database=snowDatabase,
            schema=snowSchema,
            warehouse=snowWarehouse,
            role=snowRole
        ))

        return SnowEngine

    except Exception as e:
        errorStr = 'ERROR: ' + str(e)
        return errorStr

def execSQLDataFrame(SnowEngine, sqlQuery):
    try:
        if SnowEngine is None:
            print('SnowEngine argument is required')
            exit(InvalidArgsCode)
        if sqlQuery is None:
            print('sqlQuery argument is required')
            exit(InvalidArgsCode)

        resultSet = pd.read_sql(text(sqlQuery), SnowEngine)
 
        return resultSet

    except Exception as e:
        errorStr = 'ERROR (execSQLDataFrame)' + str(e)
        print(errorStr)
        raise

def execPrimaryKeyStats():
    try:
        sqlQuery = """
            SELECT 
                table_name,
                column_name,
                data_type,
                data_type_length,
                data_type_precision,
                min_length,
                max_length,
                cardinality,
                total_cardinality,
                total_null,
                pk,
                fk,
                fk_table,
                fk_field
            FROM table_meta
            WHERE pk = True
              AND fk = False;"""
        
        resultSet = execSQLDataFrame(snowEngine, sqlQuery)
        
        return resultSet

    except Exception as e:
        errorStr = 'ERROR (execPrimaryKeyStats)' + str(e)
        print(errorStr)
        raise

def execGenPKTemp(dfPKs,debug=False):
    try:
        dfResult = pd.DataFrame()
        for i,row in dfPKs.iterrows():
            sqlQuery = """
                CREATE OR REPLACE TRANSIENT TABLE pk_""" + dfPKs.table_name[i].lower() + """_""" + dfPKs.column_name[i].lower() + """ AS """
            if dfPKs.data_type[i].upper() == 'NUMBER':
                sqlQuery += """
                SELECT
                    seq8()+1::number as pktemp,
                    seq8()+1::number as """ + dfPKs.column_name[i] + """
                FROM table(generator(rowcount => """ + str(dfPKs.cardinality[i]) + """));"""
            elif dfPKs.data_type[i].upper() == 'TEXT':
                sqlQuery += """
                WITH x AS (
                    SELECT DISTINCT randstr(uniform(""" + str(dfPKs.min_length[i]) + """,""" + str(dfPKs.max_length[i]) + """,random()),random())::varchar as """ + dfPKs.column_name[i] + """
                    FROM table(generator(rowcount => """ + str(dfPKs.cardinality[i]) + """))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    """ + dfPKs.column_name[i] + """
                FROM x;"""    
            elif dfPKs.data_type[i].upper() == 'DATE':
                sqlQuery += """
                WITH x AS (
                    SELECT DISTINCT dateadd(day, -uniform(1, """ + str(dfPKs.cardinality[i]*10) + """, random()), date_trunc(day, current_date()))::date as """ + dfPKs.column_name[i] + """
                    FROM table(generator(rowcount => """ + str(dfPKs.cardinality[i]) + """))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    """ + dfPKs.column_name[i] + """
                FROM x;""" 
            elif dfPKs.data_type[i].upper() == 'TIMESTAMP' or dfPKs.data_type[i].upper() == 'TIMESTAMP_LTZ' or dfPKs.data_type[i].upper() == 'TIMESTAMP_NTZ' or dfPKs.data_type[i].upper() == 'TIMESTAMP_TZ':
                sqlQuery += """
                WITH x AS (
                    SELECT DISTINCT (date_part(epoch_second, current_date()) - (uniform(1, """ + str(dfPKs.cardinality[i]*3600) + """, random())))::timestamp as """ + dfPKs.column_name[i] + """
                    FROM table(generator(rowcount => """ + str(dfPKs.cardinality[i]) + """))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    """ + dfPKs.column_name[i] + """
                FROM x;""" 
            elif dfPKs.data_type[i].upper() == 'BOOLEAN':
                sqlQuery += """
                SELECT *
                FROM (VALUES (1::number,True::boolean),(2::number,False::boolean))x(pktemp,""" + dfPKs.column_name[i] + """);"""

            print(sqlQuery)

            if debug == False:
                if i==0:
                    dfResult = execSQLDataFrame(snowEngine, sqlQuery)
                else:
                    dfTemp = execSQLDataFrame(snowEngine, sqlQuery)
                    dfResult = dfResult.append(dfTemp, ignore_index = True)

        return dfResult

    except Exception as e:
        errorStr = 'ERROR (execGenPKTemp)' + str(e)
        print(errorStr)
        raise

def execGenMultiKeyTemp(dfTables,debug=False):
    try:
        dfResult = pd.DataFrame()
        for i,row in dfTables.iterrows():

            if dfTables.pk_cnt[i] > 1:
                dfPKColumns = execMultiKeyStats(dfTables.table_name[i].upper())
                sqlQuery = """
                    CREATE OR REPLACE TRANSIENT TABLE pk_multi_""" + dfTables.table_name[i].lower() + """ AS
                    """
                sqlXQuery = """
                    CREATE OR REPLACE TEMP TABLE x AS
                    SELECT DISTINCT """
                sqlYQuery = """
                    CREATE OR REPLACE TEMP TABLE y AS
                    SELECT """
                
                for j,row in dfPKColumns.iterrows():
                    sqlXQuery += """
                        uniform(1,""" + str(dfPKColumns.cardinality[j]) + """,random()) as """ + dfPKColumns.column_name[j].lower() + ""","""
                
                sqlXQuery = sqlXQuery[:-1] + """
                    FROM table(generator(rowcount => """ + str(dfPKColumns.total_cardinality[0]) + """));"""
                
                for k,row in dfPKColumns.iterrows():
                    sqlYQuery += """
                            pk""" + str(k) + """.""" + dfPKColumns.pk_field_name[k].lower() + """ as """ + dfPKColumns.column_name[k].lower() + ""","""
                
                sqlYQuery = sqlYQuery[:-1] + """ 
                    FROM x """
                
                for c,row in dfPKColumns.iterrows():
                    sqlYQuery += """
                    JOIN pk_""" + dfPKColumns.pk_table_name[c].lower() + """_""" + dfPKColumns.pk_field_name[c].lower() + """ AS pk""" + str(c) + """
                        ON x.""" + dfPKColumns.column_name[c].lower() + """ = pk""" + str(c) + """.pktemp"""
                sqlYQuery += """;"""
                
                sqlQuery += """
                    SELECT (seq8()+1)::number as pktemp,"""
                
                for p,row in dfPKColumns.iterrows():
                    sqlQuery += """
                            """ + dfPKColumns.column_name[p].lower() + ""","""
                
                sqlQuery = sqlQuery[:-1] + """
                    FROM y;"""

                print(sqlXQuery)
                print(sqlYQuery)
                print(sqlQuery)

                if debug == False:
                    dfTemp = execSQLDataFrame(snowEngine, sqlXQuery)
                    dfTemp = execSQLDataFrame(snowEngine, sqlYQuery)
                    dfTemp = execSQLDataFrame(snowEngine, sqlQuery)
                    dfResult = dfResult.append(dfTemp, ignore_index = True)

        return dfResult

    except Exception as e:
        errorStr = 'ERROR (execGenMultiKeyTemp)' + str(e)
        print(errorStr)
        raise

def execTableList():
    try:
        sqlQuery = """
        SELECT table_name, SUM(CASE WHEN pk = True THEN 1 ELSE 0 END) as pk_cnt
        FROM table_meta
        GROUP BY table_name;"""
        
        resultSet = execSQLDataFrame(snowEngine, sqlQuery)
        
        return resultSet

    except Exception as e:
        errorStr = 'ERROR (execTableList)' + str(e)
        print(errorStr)
        raise

def execMultiKeyStats(table_name):
    try:
        sqlQuery = """
            SELECT   
                table_name,
                column_name,
                cardinality,
                total_cardinality,
                total_null,
                CASE WHEN fk = False THEN table_name ELSE fk_table END as pk_table_name,
                CASE WHEn fk = False THEN column_name ELSE fk_field END as pk_field_name
            FROM table_meta
            WHERE pk = True
              AND upper(table_name) = '""" + table_name.upper() + """';"""

        resultSet = execSQLDataFrame(snowEngine, sqlQuery)

        return resultSet

    except Exception as e:
        errorStr = 'ERROR (execMultiKeyStats)' + str(e)
        print(errorStr)
        raise

def execTableStats(table_name):
    try:
        sqlQuery = """
            SELECT
                case when pk = True then count(case when pk = True then pk else null end) over (partition by table_name) else -1 end::number as pk_cnt,
                case when pk = True then dense_rank() over (partition by table_name order by pk desc, column_name) else -1 end as pk_first,
                case when pk = False and fk = True then row_number() over (partition by CASE WHEN pk=False THEN fk_table ELSE NULL END order by fk_field) else -1 end::number as fk_first, 
                case when pk = False and fk = True then count(fk_field) over (partition by CASE WHEN pk=False THEN fk_table ELSE NULL END) else -1 end::number as fk_field_cnt, 
                case when pk = False and fk = True then rank() over (partition by table_name order by CASE WHEN pk=False THEN fk_table ELSE NULL END) else -1 end as fk_rank,
                table_name,
                column_name,
                data_type,
                data_type_length,
                data_type_precision,
                min_length,
                max_length,
                cardinality,
                total_cardinality,
                total_null,
                pk,
                fk,
                fk_table,
                fk_field
            FROM table_meta
            WHERE upper(table_name) = '""" + table_name.upper() + """'
            order by nullif(pk_cnt,-1), nullif(pk_first,-1), nullif(fk_first,-1), nullif(fk_rank,-1);"""
        
        resultSet = execSQLDataFrame(snowEngine, sqlQuery)
        
        return resultSet

    except Exception as e:
        errorStr = 'ERROR (execTableStats)' + str(e)
        print(errorStr)
        raise

def execGenColumnSQL(dfStats,i):
    try:
        ff = ''
        if dfStats.data_type[i].upper() == 'DATE':
            fb = 'dateadd(day, -uniform(1, ' + str(dfStats.cardinality[i]) + ', random()), date_trunc(day, current_date())) '
            fe = '::date '
        elif dfStats.data_type[i].upper() == 'TIMESTAMP' or dfStats.data_type[i].upper() == 'TIMESTAMP_LTZ' or dfStats.data_type[i].upper() == 'TIMESTAMP_NTZ':
            fb = '(date_part(epoch_second, current_date()) - (uniform(1, ' + str(dfStats.cardinality[i]) + ', random()))) '
            fe = '::timestamp '
        elif dfStats.data_type[i].upper() == 'TEXT':
            ff = 'uniform(1,' + str(dfStats.cardinality[i]) + ',random()) as seed_' + dfStats.column_name[i].lower() + ', '
            fb = 'randstr(seed_' + dfStats.column_name[i].lower() + '*' + str(dfStats.max_length[i]) + '/' + str(dfStats.cardinality[i]) + ',seed_' + dfStats.column_name[i].lower() + ') '
            #randstr(uniform(' + str(dfStats.min_length[i]) + ',' + str(dfStats.max_length[i]) + ', random()),uniform(1,'+ str(dfStats.cardinality[i]) + ',random())) '
            fe = '::varchar(' + str(int(dfStats.data_type_length[i])) + ') '
        elif dfStats.data_type[i].upper() == 'NUMBER':
            if dfStats.cardinality[i] == dfStats.total_cardinality[i] and int(dfStats.data_type_precision[i]) == 0:
                fb = '(seq8()+1)'
            elif int(dfStats.data_type_precision[i]) == 0:
                fb = 'uniform(1,' + str(dfStats.cardinality[i]) + ' , random()) '            
            else:
                fb = '(uniform(1,' + str(dfStats.cardinality[i]) + ' , random())/1000) '
            fe = '::number(' + str(int(dfStats.data_type_length[i])) + ',' + str(int(dfStats.data_type_precision[i])) + ') '
        elif dfStats.data_type[i].upper() == 'FLOAT':
            fb = "uniform(1,ceil(" + str(int(dfStats.cardinality[i])/4) + ") , random()) || '.' || uniform(1,9999,random()) "
            fe = '::float'
        else:
            fb = 'NULL '
            fe = '::' + dfStats.data_type[i].upper()

        if (fb == ''):
            print( "WARNING: Line: {0} Unknown Datatype: {1}".format(i,dfStats.data_type[i]))
        else:
            if (int(dfStats.cardinality[i]) == 0):
                formula = 'null' + fe
            elif (dfStats.total_null[i] == 0):
                formula = ff + fb + fe
            else:
                formula = ff + '(case when uniform(1,1000,random()) <= (' + str(int(dfStats.total_null[i])) + '/' + str(dfStats.total_cardinality[i]) + ')*1000 then null else ' + fb +' end) ' + fe

        formula += """ as """ + dfStats.column_name[i] + """ """

        return formula

    except Exception as e:
        errorStr = 'ERROR (execGenColumnSQL)' + str(e)
        print(errorStr)
        raise

def execInsertFinalData(dfTables,debug=False):
    try:
        dfResult = pd.DataFrame()
        for i,row in dfTables.iterrows():
            dfStats = execTableStats(str(dfTables.table_name[i]))

            strSQLx = """
            CREATE OR REPLACE TEMP TABLE x AS
            SELECT """

            for j,row in dfStats.iterrows():
                if dfStats.pk_cnt[j] > 0 and j == 0:
                    strSQLx += """ seq8()+1::number as pktemp, """
                elif dfStats.fk_rank[j] > 0 and dfStats.fk_first[j] == 1:
                    strSQLx += """ uniform(1,""" + str(dfStats.cardinality[j]) + """, random()) as fk_""" + str(dfStats.fk_rank[j]) + ""","""
                else:
                    dfStatsRow = dfStats.iloc[[j]]
                    sqlQuery = execGenColumnSQL(dfStatsRow,j)
                    strSQLx += sqlQuery + ""","""
            
            strSQLx = strSQLx[:-1] + """
                FROM table(generator(rowcount=>""" + str(dfStats.total_cardinality[0]) + """));"""

            if overwrite_bit == True:
                strSQL = """
            INSERT OVERWRITE INTO """ + dfTables.table_name[i] + """ ("""
            else:
                strSQL = """
            INSERT INTO """ + dfTables.table_name[i] + """ ("""

            for q,row in dfStats.iterrows():
                strSQL += dfStats.column_name[q] + ""","""
            strSQL = strSQL[:-1] + """
            )"""
            
            strSQL += """
                SELECT """

            for k,row in dfStats.iterrows():
                if dfStats.pk[k] == True and dfStats.pk_cnt[k] == 1 and dfStats.fk[k] == True:
                    strSQL += """ pk.""" + dfStats.fk_field[k] + ""","""
                elif dfStats.pk[k] == True:
                    strSQL += """ pk.""" + dfStats.column_name[k] + ""","""
                elif dfStats.fk_rank[k] > 0:
                    strSQL += """ fk""" + str(dfStats.fk_rank[k]) + """.""" +  dfStats.fk_field[k] + """ as """ + dfStats.column_name[k] + ""","""
                else:
                    strSQL += """ x.""" + dfStats.column_name[k] + ""","""
            
            strSQL = strSQL[:-1] + """
            FROM x"""

            for c,row in dfStats.iterrows():
                if dfStats.pk_cnt[c] == 1 and dfStats.fk[c] == False:
                    strSQL += """
            JOIN pk_""" + dfStats.table_name[c] + """_""" + dfStats.column_name[c] + """ pk
                ON x.pktemp = pk.pktemp"""
                if dfStats.pk_cnt[c] == 1 and dfStats.fk[c] == True:
                    strSQL += """
            JOIN pk_""" + dfStats.fk_table[c] + """_""" + dfStats.fk_field[c] + """ pk
                ON x.pktemp = pk.pktemp"""
                elif dfStats.pk_cnt[c] > 1 and dfStats.pk_first[c] == 1:
                        strSQL += """
            JOIN pk_multi_""" + dfStats.table_name[c] + """ pk
                ON x.pktemp = pk.pktemp"""               
                elif dfStats.fk_field_cnt[c] == 1:
                    strSQL += """
            JOIN pk_""" + dfStats.fk_table[c] + """_""" + dfStats.fk_field[c] + """ fk""" + str(dfStats.fk_rank[c]) + """
                ON x.fk_""" + str(dfStats.fk_rank[c]) + """ = fk""" + str(dfStats.fk_rank[c]) + """.pktemp"""
                elif dfStats.fk_field_cnt[c] > 1 and dfStats.fk_first[c] == 1:
                    strSQL += """
            JOIN pk_multi_""" + dfStats.fk_table[c] + """ fk""" + str(dfStats.fk_rank[c]) + """
                ON x.fk_""" + str(dfStats.fk_rank[c]) + """ = fk""" + str(dfStats.fk_rank[c]) + """.pktemp"""


            strSQL += """;"""
            
            print(strSQLx)
            print(strSQL)

            if debug == False:
                dfTemp = execSQLDataFrame(snowEngine, strSQLx)
                dfResult = dfResult.append(dfTemp, ignore_index = True)
                dfTemp = execSQLDataFrame(snowEngine, strSQL)
                dfResult = dfResult.append(dfTemp, ignore_index = True)

        return dfResult

    except Exception as e:
        errorStr = 'ERROR (execInsertFinalData)' + str(e)
        print(errorStr)
        raise

## Test Connection

In [ ]:
snowEngine = getEngine(snowUser=snowUser, snowPassword=snowPassword, snowAccount=snowAccount, snowDatabase=snowDatabase, snowSchema=snowSchema, snowWarehouse=snowWarehouse, snowRole=snowRole)

sqlQuery = 'SELECT CURRENT_VERSION();'

dfVersion = execSQLDataFrame(snowEngine, sqlQuery)

dfVersion

/usr/local/lib/python3.7/dist-packages/pandas/io/sql.py:1424: SAWarning: Dialect snowflake:snowflake will not make use of SQL compilation caching as it does not set the 'supports_statement_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Dialect maintainers should seek to set this attribute to True after appropriate development and testing for SQLAlchemy 1.4 caching support.   Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/14/cprf)
  return self.connectable.execution_options().execute(*args, **kwargs)

  CURRENT_VERSION()
0             6.2.1

## Generate Primary Keys

In [ ]:
dfPKs = execPrimaryKeyStats()
dfPKs

      table_name   column_name data_type  ...     fk fk_table  fk_field
0       DIM_OOID          OOID      TEXT  ...  False     None      None
1  CLIENT_MASTER  COMPANY_CODE      TEXT  ...  False     None      None
2  CLIENT_MASTER   REGION_CODE      TEXT  ...  False     None      None
3  CLIENT_MASTER  PRODUCT_CODE      TEXT  ...  False     None      None

[4 rows x 14 columns]

In [ ]:
dfResult = execGenPKTemp(dfPKs,debug=True)
dfResult

                CREATE OR REPLACE TRANSIENT TABLE pk_dim_ooid_ooid AS
                WITH x AS (
                    SELECT DISTINCT randstr(uniform(6,16,random()),random())::varchar as OOID
                    FROM table(generator(rowcount => 127566))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    OOID
                FROM x;

                CREATE OR REPLACE TRANSIENT TABLE pk_client_master_company_code AS
                WITH x AS (
                    SELECT DISTINCT randstr(uniform(1,64,random()),random())::varchar as COMPANY_CODE
                    FROM table(generator(rowcount => 652842))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    COMPANY_CODE
                FROM x;

                CREATE OR REPLACE TRANSIENT TABLE pk_client_master_region_code AS
                WITH x AS (
                    SELECT DISTINCT randstr(uniform(4,4,random()),random())::varchar as REGION_CODE
                    FROM table(generator(rowcount => 120))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    REGION_CODE
                FROM x;

                CREATE OR REPLACE TRANSIENT TABLE pk_client_master_product_code AS
                WITH x AS (
                    SELECT DISTINCT randstr(uniform(2,2,random()),random())::varchar as PRODUCT_CODE
                    FROM table(generator(rowcount => 139))
                    )
                SELECT (seq8()+1)::number as pktemp,
                    PRODUCT_CODE
                FROM x;

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfTables = execTableList()
dfTables

            table_name  pk_cnt
0             DIM_OOID       1
1  AP_EARNINGS_DETAILS       3
2        CLIENT_MASTER       3

In [ ]:
dfResult = execGenMultiKeyTemp(dfTables,debug=True)
dfResult

                    CREATE OR REPLACE TEMP TABLE x AS
                    SELECT DISTINCT
                        uniform(1,91673,random()) as ooid,
                        uniform(1,40730817,random()) as aoid,
                        uniform(1,12,random()) as yyyymm
                    FROM table(generator(rowcount => 342486895));

                    CREATE OR REPLACE TEMP TABLE y AS
                    SELECT
                            pk0.ooid as ooid,
                            pk1.aoid as aoid,
                            pk2.yyyymm as yyyymm
                    FROM x
                    JOIN pk_dim_ooid_ooid AS pk0
                        ON x.ooid = pk0.pktemp
                    JOIN pk_dim_aoid_aoid AS pk1
                        ON x.aoid = pk1.pktemp
                    JOIN pk_dim_date_yyyymm AS pk2
                        ON x.yyyymm = pk2.pktemp;

                    CREATE OR REPLACE TRANSIENT TABLE pk_multi_ap_earnings_details AS

                    SELECT (seq8()+1)::number as pktemp,
                            ooid,
                            aoid,
                            yyyymm
                    FROM y;

                    CREATE OR REPLACE TEMP TABLE x AS
                    SELECT DISTINCT
                        uniform(1,652842,random()) as company_code,
                        uniform(1,120,random()) as region_code,
                        uniform(1,139,random()) as product_code
                    FROM table(generator(rowcount => 3200433));

                    CREATE OR REPLACE TEMP TABLE y AS
                    SELECT
                            pk0.company_code as company_code,
                            pk1.region_code as region_code,
                            pk2.product_code as product_code
                    FROM x
                    JOIN pk_client_master_company_code AS pk0
                        ON x.company_code = pk0.pktemp
                    JOIN pk_client_master_region_code AS pk1
                        ON x.region_code = pk1.pktemp
                    JOIN pk_client_master_product_code AS pk2
                        ON x.product_code = pk2.pktemp;

                    CREATE OR REPLACE TRANSIENT TABLE pk_multi_client_master AS

                    SELECT (seq8()+1)::number as pktemp,
                            company_code,
                            region_code,
                            product_code
                    FROM y;

Empty DataFrame
Columns: []
Index: []

## Build Final Tables

In [ ]:
dfResult = execInsertFinalData(dfTables,debug=True)
dfResult

            CREATE OR REPLACE TEMP TABLE x AS
            SELECT  seq8()+1::number as pktemp,
                FROM table(generator(rowcount=>127566));

            INSERT OVERWRITE INTO DIM_OOID (OOID
            )
                SELECT  pk.OOID
            FROM x
            JOIN pk_DIM_OOID_OOID pk
                ON x.pktemp = pk.pktemp;

            CREATE OR REPLACE TEMP TABLE x AS
            SELECT  seq8()+1::number as pktemp, uniform(1,91673,random()) as seed_ooid, randstr(seed_ooid*16/91673,seed_ooid) ::varchar(16)  as OOID ,uniform(1,12,random()) as seed_yyyymm, randstr(seed_yyyymm*6/12,seed_yyyymm) ::varchar(6)  as YYYYMM ,(case when uniform(1,1000,random()) <= (142031511/342486895)*1000 then null else uniform(1,ceil(567949.0) , random()) || '.' || uniform(1,9999,random())  end) ::float as REGULAR_PAY_ ,(case when uniform(1,1000,random()) <= (209533141/342486895)*1000 then null else uniform(1,ceil(169020.75) , random()) || '.' || uniform(1,9999,random())  end) ::float as TOTAL_OVERTIME_PAY_ ,(case when uniform(1,1000,random()) <= (137159726/342486895)*1000 then null else uniform(1,ceil(1924343.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as TOTAL_EARNINGS_ ,(case when uniform(1,1000,random()) <= (3110/342486895)*1000 then null else uniform(1,ceil(138668.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as TIPS_EARNINGS_ ,(case when uniform(1,1000,random()) <= (64/342486895)*1000 then null else uniform(1,ceil(118055.0) , random()) || '.' || uniform(1,9999,random())  end) ::float as STOCK_EARNINGS_ ,uniform(1,ceil(1957.25) , random()) || '.' || uniform(1,9999,random()) ::float as SIGNON_BONUS_EARNINGS_ ,uniform(1,ceil(21743.5) , random()) || '.' || uniform(1,9999,random()) ::float as SEVERANCE_EARNINGS_ ,(case when uniform(1,1000,random()) <= (3/342486895)*1000 then null else uniform(1,ceil(73991.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as RETROACTIVE_EARNINGS_ ,uniform(1,ceil(98324.0) , random()) || '.' || uniform(1,9999,random()) ::float as OVERTIME_EARNINGS_ ,(case when uniform(1,1000,random()) <= (137156358/342486895)*1000 then null else uniform(1,ceil(1350329.25) , random()) || '.' || uniform(1,9999,random())  end) ::float as OTHER_EARNINGS_ ,(case when uniform(1,1000,random()) <= (39/342486895)*1000 then null else uniform(1,ceil(281554.75) , random()) || '.' || uniform(1,9999,random())  end) ::float as NON_PRODUCTIVE_EARNINGS_ ,uniform(1,ceil(99006.0) , random()) || '.' || uniform(1,9999,random()) ::float as INCENTIVE_EARNINGS_ ,uniform(1,ceil(415134.25) , random()) || '.' || uniform(1,9999,random()) ::float as COMMISSION_EARNINGS_ ,(case when uniform(1,1000,random()) <= (5/342486895)*1000 then null else uniform(1,ceil(336625.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as BONUS_EARNINGS_ ,uniform(1,ceil(183365.75) , random()) || '.' || uniform(1,9999,random()) ::float as BONUS_ ,(case when uniform(1,1000,random()) <= (144870420/342486895)*1000 then null else uniform(1,ceil(342151.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as ANNUAL_BASE_
                FROM table(generator(rowcount=>342486895));

            INSERT OVERWRITE INTO AP_EARNINGS_DETAILS (AOID,OOID,YYYYMM,REGULAR_PAY_,TOTAL_OVERTIME_PAY_,TOTAL_EARNINGS_,TIPS_EARNINGS_,STOCK_EARNINGS_,SIGNON_BONUS_EARNINGS_,SEVERANCE_EARNINGS_,RETROACTIVE_EARNINGS_,OVERTIME_EARNINGS_,OTHER_EARNINGS_,NON_PRODUCTIVE_EARNINGS_,INCENTIVE_EARNINGS_,COMMISSION_EARNINGS_,BONUS_EARNINGS_,BONUS_,ANNUAL_BASE_
            )
                SELECT  pk.AOID, pk.OOID, pk.YYYYMM, x.REGULAR_PAY_, x.TOTAL_OVERTIME_PAY_, x.TOTAL_EARNINGS_, x.TIPS_EARNINGS_, x.STOCK_EARNINGS_, x.SIGNON_BONUS_EARNINGS_, x.SEVERANCE_EARNINGS_, x.RETROACTIVE_EARNINGS_, x.OVERTIME_EARNINGS_, x.OTHER_EARNINGS_, x.NON_PRODUCTIVE_EARNINGS_, x.INCENTIVE_EARNINGS_, x.COMMISSION_EARNINGS_, x.BONUS_EARNINGS_, x.BONUS_, x.ANNUAL_BASE_
            FROM x
            JOIN pk_multi_AP_EARNINGS_DETAILS pk
                ON x.pktemp = pk.pktemp;

            CREATE OR REPLACE TEMP TABLE x AS
            SELECT  seq8()+1::number as pktemp, uniform(1,139,random()) as seed_product_code, randstr(seed_product_code*2.0/139,seed_product_code) ::varchar(2)  as PRODUCT_CODE ,uniform(1,120,random()) as seed_region_code, randstr(seed_region_code*4.0/120,seed_region_code) ::varchar(4)  as REGION_CODE , uniform(1,1, random()) as fk_1, uniform(1,127566, random()) as fk_2,uniform(1,12771,random()) as seed_esdb_zip, (case when uniform(1,1000,random()) <= (3041858/3200433)*1000 then null else randstr(seed_esdb_zip*5.0/12771,seed_esdb_zip)  end) ::varchar(5)  as ESDB_ZIP ,(case when uniform(1,1000,random()) <= (3200365/3200433)*1000 then null else uniform(1,1 , random())  end) ::number(38,0)  as ESTB_OWNERSHIP_TYPE_CD ,(case when uniform(1,1000,random()) <= (12387/3200433)*1000 then null else uniform(1,3362 , random())  end) ::number(38,0)  as HEADCOUNT ,uniform(1,9,random()) as seed_headcount_band_, randstr(seed_headcount_band_*11.0/9,seed_headcount_band_) ::varchar(11)  as HEADCOUNT_BAND_ ,uniform(1,8 , random()) ::number(2,0)  as HEADCOUNT_BAND_KEY_ ,null::number(38,0)  as IRS_OWNERSHIP_TYPE_CD ,uniform(1,42,random()) as seed_last_modified_date, randstr(seed_last_modified_date*6.0/42,seed_last_modified_date) ::varchar(6)  as LAST_MODIFIED_DATE ,uniform(1,1234,random()) as seed_naics, (case when uniform(1,1000,random()) <= (1277400/3200433)*1000 then null else randstr(seed_naics*6.0/1234,seed_naics)  end) ::varchar(6)  as NAICS ,uniform(1,298042,random()) as seed_nat_acct_number, (case when uniform(1,1000,random()) <= (2462899/3200433)*1000 then null else randstr(seed_nat_acct_number*25.0/298042,seed_nat_acct_number)  end) ::varchar(25)  as NAT_ACCT_NUMBER ,uniform(1,8,random()) as seed_esdb_street, (case when uniform(1,1000,random()) <= (3135538/3200433)*1000 then null else randstr(seed_esdb_street*129.0/8,seed_esdb_street)  end) ::varchar(129)  as ESDB_STREET ,uniform(1,7,random()) as seed_supersector_cd, (case when uniform(1,1000,random()) <= (1331878/3200433)*1000 then null else randstr(seed_supersector_cd*3.0/7,seed_supersector_cd)  end) ::varchar(3)  as SUPERSECTOR_CD ,uniform(1,2,random()) as seed_optout_flag, randstr(seed_optout_flag*1.0/2,seed_optout_flag) ::varchar(1)  as OPTOUT_FLAG ,uniform(1,3,random()) as seed_ownership_type_, randstr(seed_ownership_type_*2.0/3,seed_ownership_type_) ::varchar(2)  as OWNERSHIP_TYPE_ ,uniform(1,86,random()) as seed_esdb_state, (case when uniform(1,1000,random()) <= (2914180/3200433)*1000 then null else randstr(seed_esdb_state*2.0/86,seed_esdb_state)  end) ::varchar(2)  as ESDB_STATE ,uniform(1,7078,random()) as seed_term_date, (case when uniform(1,1000,random()) <= (1608080/3200433)*1000 then null else randstr(seed_term_date*11.0/7078,seed_term_date)  end) ::varchar(11)  as TERM_DATE ,(case when uniform(1,1000,random()) <= (3076076/3200433)*1000 then null else uniform(1,2 , random())  end) ::number(38,0)  as ESDB_OWNERSHIP_TYPE_CD ,uniform(1,211,random()) as seed_parent_product_code, (case when uniform(1,1000,random()) <= (114181/3200433)*1000 then null else randstr(seed_parent_product_code*2.0/211,seed_parent_product_code)  end) ::varchar(2)  as PARENT_PRODUCT_CODE ,(case when uniform(1,1000,random()) <= (2292890/3200433)*1000 then null else uniform(1,ceil(45862.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as REVENUE ,(case when uniform(1,1000,random()) <= (110711/3200433)*1000 then null else uniform(1,ceil(39967.5) , random()) || '.' || uniform(1,9999,random())  end) ::float as REVENUE_ADP ,uniform(1,10,random()) as seed_revenue_band_, randstr(seed_revenue_band_*8.0/10,seed_revenue_band_) ::varchar(8)  as REVENUE_BAND_ ,uniform(1,10 , random()) ::number(2,0)  as REVENUE_BAND_KEY_ ,(case when uniform(1,1000,random()) <= (214725/3200433)*1000 then null else uniform(1,ceil(38.25) , random()) || '.' || uniform(1,9999,random())  end) ::float as REVENUE_REGION ,uniform(1,26,random()) as seed_sector_cd, (case when uniform(1,1000,random()) <= (1331892/3200433)*1000 then null else randstr(seed_sector_cd*4.0/26,seed_sector_cd)  end) ::varchar(4)  as SECTOR_CD ,(case when uniform(1,1000,random()) <= (3200092/3200433)*1000 then null else uniform(1,1 , random())  end) ::number(38,0)  as SMS_OWNERSHIP_TYPE_CD ,uniform(1,12180,random()) as seed_start_date, (case when uniform(1,1000,random()) <= (351610/3200433)*1000 then null else randstr(seed_start_date*11.0/12180,seed_start_date)  end) ::varchar(11)  as START_DATE ,uniform(1,8,random()) as seed_status, (case when uniform(1,1000,random()) <= (2/3200433)*1000 then null else randstr(seed_status*10.0/8,seed_status)  end) ::varchar(10)  as STATUS ,uniform(1,146,random()) as seed_subsector_cd, (case when uniform(1,1000,random()) <= (1510576/3200433)*1000 then null else randstr(seed_subsector_cd*5.0/146,seed_subsector_cd)  end) ::varchar(5)  as SUBSECTOR_CD ,(case when uniform(1,1000,random()) <= (179381/3200433)*1000 then null else NULL  end) ::BOOLEAN as CTRL_IS_SEASONAL ,uniform(1,2,random()) as seed_crosssector_cd, (case when uniform(1,1000,random()) <= (3001192/3200433)*1000 then null else randstr(seed_crosssector_cd*3.0/2,seed_crosssector_cd)  end) ::varchar(3)  as CROSSSECTOR_CD ,uniform(1,3,random()) as seed_ctrl_market_segment, (case when uniform(1,1000,random()) <= (3140485/3200433)*1000 then null else randstr(seed_ctrl_market_segment*3.0/3,seed_ctrl_market_segment)  end) ::varchar(3)  as CTRL_MARKET_SEGMENT ,uniform(1,42,random()) as seed_created_date, randstr(seed_created_date*6.0/42,seed_created_date) ::varchar(6)  as CREATED_DATE ,(case when uniform(1,1000,random()) <= (2769680/3200433)*1000 then null else uniform(1,2330 , random())  end) ::number(38,0)  as CONTROL_HEADCOUNT ,uniform(1,102,random()) as seed_combo_cd, (case when uniform(1,1000,random()) <= (2267190/3200433)*1000 then null else randstr(seed_combo_cd*5.0/102,seed_combo_cd)  end) ::varchar(5)  as COMBO_CD ,uniform(1,1,random()) as seed_c360_zip, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_c360_zip*0.0/1,seed_c360_zip)  end) ::varchar(0)  as C360_ZIP ,uniform(1,1,random()) as seed_c360_street, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_c360_street*0.0/1,seed_c360_street)  end) ::varchar(0)  as C360_STREET ,uniform(1,1,random()) as seed_c360_state, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_c360_state*0.0/1,seed_c360_state)  end) ::varchar(0)  as C360_STATE ,uniform(1,7,random()) as seed_c360_company_name, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_c360_company_name*64.0/7,seed_c360_company_name)  end) ::varchar(64)  as C360_COMPANY_NAME ,uniform(1,1,random()) as seed_c360_city, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_c360_city*0.0/1,seed_c360_city)  end) ::varchar(0)  as C360_CITY ,uniform(1,6,random()) as seed_business_unit, (case when uniform(1,1000,random()) <= (824844/3200433)*1000 then null else randstr(seed_business_unit*19.0/6,seed_business_unit)  end) ::varchar(19)  as BUSINESS_UNIT ,uniform(1,7,random()) as seed_ap_company_name, (case when uniform(1,1000,random()) <= (3200426/3200433)*1000 then null else randstr(seed_ap_company_name*64.0/7,seed_ap_company_name)  end) ::varchar(64)  as AP_COMPANY_NAME ,uniform(1,3,random()) as seed_esdb_ownership_type, (case when uniform(1,1000,random()) <= (3076069/3200433)*1000 then null else randstr(seed_esdb_ownership_type*7.0/3,seed_esdb_ownership_type)  end) ::varchar(7)  as ESDB_OWNERSHIP_TYPE ,uniform(1,592410,random()) as seed_parent_company_code, (case when uniform(1,1000,random()) <= (20501/3200433)*1000 then null else randstr(seed_parent_company_code*64.0/592410,seed_parent_company_code)  end) ::varchar(64)  as PARENT_COMPANY_CODE ,(case when uniform(1,1000,random()) <= (108158/3200433)*1000 then null else uniform(1,ceil(40056.0) , random()) || '.' || uniform(1,9999,random())  end) ::float as CTRL_SALES_ANNL_REVENUE ,uniform(1,20330,random()) as seed_ctrl_start_dt, (case when uniform(1,1000,random()) <= (233303/3200433)*1000 then null else randstr(seed_ctrl_start_dt*8.0/20330,seed_ctrl_start_dt)  end) ::varchar(8)  as CTRL_START_DT ,uniform(1,4,random()) as seed_ctrl_status, (case when uniform(1,1000,random()) <= (2914165/3200433)*1000 then null else randstr(seed_ctrl_status*1.0/4,seed_ctrl_status)  end) ::varchar(1)  as CTRL_STATUS ,uniform(1,10803,random()) as seed_ctrl_term_dt, (case when uniform(1,1000,random()) <= (1196162/3200433)*1000 then null else randstr(seed_ctrl_term_dt*8.0/10803,seed_ctrl_term_dt)  end) ::varchar(8)  as CTRL_TERM_DT ,(case when uniform(1,1000,random()) <= (3195989/3200433)*1000 then null else uniform(1,3 , random())  end) ::number(38,0)  as DNB_OWNERSHIP_TYPE_CD ,uniform(1,487663,random()) as seed_duns_number, (case when uniform(1,1000,random()) <= (733477/3200433)*1000 then null else randstr(seed_duns_number*64.0/487663,seed_duns_number)  end) ::varchar(64)  as DUNS_NUMBER ,uniform(1,126038,random()) as seed_duns_number_headquarter, (case when uniform(1,1000,random()) <= (1093936/3200433)*1000 then null else randstr(seed_duns_number_headquarter*64.0/126038,seed_duns_number_headquarter)  end) ::varchar(64)  as DUNS_NUMBER_HEADQUARTER ,uniform(1,17,random()) as seed_dw_ccfm_ownership_type, (case when uniform(1,1000,random()) <= (3174663/3200433)*1000 then null else randstr(seed_dw_ccfm_ownership_type*34.0/17,seed_dw_ccfm_ownership_type)  end) ::varchar(34)  as DW_CCFM_OWNERSHIP_TYPE ,(case when uniform(1,1000,random()) <= (3186861/3200433)*1000 then null else uniform(1,5 , random())  end) ::number(38,0)  as DW_CCFM_OWNERSHIP_TYPE_CD ,(case when uniform(1,1000,random()) <= (3024550/3200433)*1000 then null else NULL  end) ::VARIANT as EIN ,uniform(1,8,random()) as seed_esdb_city, (case when uniform(1,1000,random()) <= (3135538/3200433)*1000 then null else randstr(seed_esdb_city*64.0/8,seed_esdb_city)  end) ::varchar(64)  as ESDB_CITY ,uniform(1,1788938,random()) as seed_esdb_company_name, (case when uniform(1,1000,random()) <= (114690/3200433)*1000 then null else randstr(seed_esdb_company_name*64.0/1788938,seed_esdb_company_name)  end) ::varchar(64)  as ESDB_COMPANY_NAME ,(case when uniform(1,1000,random()) <= (2978415/3200433)*1000 then null else uniform(1,5 , random())  end) ::number(38,0)  as OWNERSHIP_TYPE_CD_
                FROM table(generator(rowcount=>3200433));

            INSERT OVERWRITE INTO CLIENT_MASTER (COMPANY_CODE,PRODUCT_CODE,REGION_CODE,YYYYMM,OOID,ESDB_ZIP,ESTB_OWNERSHIP_TYPE_CD,HEADCOUNT,HEADCOUNT_BAND_,HEADCOUNT_BAND_KEY_,IRS_OWNERSHIP_TYPE_CD,LAST_MODIFIED_DATE,NAICS,NAT_ACCT_NUMBER,ESDB_STREET,SUPERSECTOR_CD,OPTOUT_FLAG,OWNERSHIP_TYPE_,ESDB_STATE,TERM_DATE,ESDB_OWNERSHIP_TYPE_CD,PARENT_PRODUCT_CODE,REVENUE,REVENUE_ADP,REVENUE_BAND_,REVENUE_BAND_KEY_,REVENUE_REGION,SECTOR_CD,SMS_OWNERSHIP_TYPE_CD,START_DATE,STATUS,SUBSECTOR_CD,CTRL_IS_SEASONAL,CROSSSECTOR_CD,CTRL_MARKET_SEGMENT,CREATED_DATE,CONTROL_HEADCOUNT,COMBO_CD,C360_ZIP,C360_STREET,C360_STATE,C360_COMPANY_NAME,C360_CITY,BUSINESS_UNIT,AP_COMPANY_NAME,ESDB_OWNERSHIP_TYPE,PARENT_COMPANY_CODE,CTRL_SALES_ANNL_REVENUE,CTRL_START_DT,CTRL_STATUS,CTRL_TERM_DT,DNB_OWNERSHIP_TYPE_CD,DUNS_NUMBER,DUNS_NUMBER_HEADQUARTER,DW_CCFM_OWNERSHIP_TYPE,DW_CCFM_OWNERSHIP_TYPE_CD,EIN,ESDB_CITY,ESDB_COMPANY_NAME,OWNERSHIP_TYPE_CD_
            )
                SELECT  pk.COMPANY_CODE, pk.PRODUCT_CODE, pk.REGION_CODE, fk1.YYYYMM as YYYYMM, fk2.OOID as OOID, x.ESDB_ZIP, x.ESTB_OWNERSHIP_TYPE_CD, x.HEADCOUNT, x.HEADCOUNT_BAND_, x.HEADCOUNT_BAND_KEY_, x.IRS_OWNERSHIP_TYPE_CD, x.LAST_MODIFIED_DATE, x.NAICS, x.NAT_ACCT_NUMBER, x.ESDB_STREET, x.SUPERSECTOR_CD, x.OPTOUT_FLAG, x.OWNERSHIP_TYPE_, x.ESDB_STATE, x.TERM_DATE, x.ESDB_OWNERSHIP_TYPE_CD, x.PARENT_PRODUCT_CODE, x.REVENUE, x.REVENUE_ADP, x.REVENUE_BAND_, x.REVENUE_BAND_KEY_, x.REVENUE_REGION, x.SECTOR_CD, x.SMS_OWNERSHIP_TYPE_CD, x.START_DATE, x.STATUS, x.SUBSECTOR_CD, x.CTRL_IS_SEASONAL, x.CROSSSECTOR_CD, x.CTRL_MARKET_SEGMENT, x.CREATED_DATE, x.CONTROL_HEADCOUNT, x.COMBO_CD, x.C360_ZIP, x.C360_STREET, x.C360_STATE, x.C360_COMPANY_NAME, x.C360_CITY, x.BUSINESS_UNIT, x.AP_COMPANY_NAME, x.ESDB_OWNERSHIP_TYPE, x.PARENT_COMPANY_CODE, x.CTRL_SALES_ANNL_REVENUE, x.CTRL_START_DT, x.CTRL_STATUS, x.CTRL_TERM_DT, x.DNB_OWNERSHIP_TYPE_CD, x.DUNS_NUMBER, x.DUNS_NUMBER_HEADQUARTER, x.DW_CCFM_OWNERSHIP_TYPE, x.DW_CCFM_OWNERSHIP_TYPE_CD, x.EIN, x.ESDB_CITY, x.ESDB_COMPANY_NAME, x.OWNERSHIP_TYPE_CD_
            FROM x
            JOIN pk_multi_CLIENT_MASTER pk
                ON x.pktemp = pk.pktemp
            JOIN pk_DIM_DATE_YYYYMM fk1
                ON x.fk_1 = fk1.pktemp
            JOIN pk_DIM_OOID_OOID fk2
                ON x.fk_2 = fk2.pktemp;

Empty DataFrame
Columns: []
Index: []

## MANUAL EXECUTE A QUERY

In [ ]:
sqlQuery = """
                CREATE OR REPLACE TEMP TABLE pk_dim_date_informationdate AS 
                SELECT
                    seq8()+1::number as pktemp,
                    TO_VARCHAR(dateadd(d,-1,(dateadd('month',-seq8(),date_trunc('month', current_date())))),'YYYYMMDD')::number as INFORMATIONDATE
                FROM table(generator(rowcount => 60));
"""
dfResults = execSQLDataFrame(snowEngine, sqlQuery)
dfResults

                                              status
0  Table PK_DIM_DATE_INFORMATIONDATE successfully...

In [ ]:
sqlQuery = """
    SELECT CURRENT_SCHEMA();
"""

dfResults = execSQLDataFrame(snowEngine, sqlQuery)
dfResults

              CURRENT_SCHEMA()
0  DYNAMIC_TEST_DATA_GENERATOR

In [ ]:
dfStats = execTableStats('REF_MNGD_SEG_DIM')
dfStats

Empty DataFrame
Columns: [pk_cnt, pk_first, fk_first, fk_field_cnt, fk_rank, table_name, column_name, data_type, data_type_length, data_type_precision, min_length, max_length, cardinality, total_cardinality, total_null, pk, fk, fk_table, fk_field]
Index: []